img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.table-design{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.heading-part{
    background-color: yellow;
    color: black;
    font-size: 50px;
}
.najat{
    background-color: aqua;
    color: black;
    font-size: 40px; 
}
.soukaina{
    background-color: brown;
    color: black;
    font-size: 35px;
}
.hasne{
    background-color: aqua;
    color: black;
    font-size: 30px;
}
.ronie{
    background-color: blue;
    color: black;
    font-size: 25px;
}
.malak{
    background-color: chocolate;
    color: black;
    font-size: 20px;
}
.amira{
    background-color: darkgreen;
    color: white;
    font-size: 15px;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width: 40%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aqua;
}
#radio-button, #checkbox-button {
width: 10px;
height: 10px;
}
button{
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}